<p-panel header="ExportarQrC">
  <div class="panel">
    <div class="panel-input_main">

      <div class="panel-input_section">
        <span>
          <label for="MCI">Texto MCI</label>
        </span>
        <p-inputGroup class="panel-inputgroup">
          <p-inputGroupAddon>
              <i class="pi pi-search"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="MCI" style="width: 100%;" />
        </p-inputGroup>
      </div>

      <div class="panel-input_section">
        <span>
          <label for="DICT">Texto DICT</label>
        </span>
        <p-inputGroup class="panel-inputgroup">
          <p-inputGroupAddon >
              <i class="pi pi-search"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Dict" style="width: 100%;" />
        </p-inputGroup>
      </div>
    </div>

    <div class="panel-button_section">
      <button
      pButton
      pRipple
      label="Limpar"
      class="p-button-success">
    </button>
    <p-button label="Submit"></p-button>
    </div>
  </div>
</p-panel>
