<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<span class="pi pi-search"></span>
<span class="pi pi-user"></span>

<br>
<br>

<p-inputGroup class="w-full md:w-30rem">
  <p-inputGroupAddon>
      <i class="pi pi-clock"></i>
  </p-inputGroupAddon>
  <p-inputGroupAddon>
      <i class="pi pi-star-fill"></i>
  </p-inputGroupAddon>
  <input type="text" pInputText placeholder="Price" />
  <p-inputGroupAddon>$</p-inputGroupAddon>
  <p-inputGroupAddon>.00</p-inputGroupAddon>
</p-inputGroup>

<p-inputGroup>
  <input type="text" pInputText placeholder="Keyword" />
  <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
</p-inputGroup>
