<p-panel header="ExportarQrC">
  <div class="panel">
    <div class="panel-input_main">

      <div class="panel-input_section">
        <span>
          <label for="Serie">Série Favorita</label>
        </span>
        <p-inputGroup class="panel-inputgroup">
          <p-inputGroupAddon>
              <i class="pi pi-search"></i>
          </p-inputGroupAddon>
          <input
          pInputText
          [(ngModel)]="gostos.serie"
          placeholder="Série"
          style="width: 100%;" />
        </p-inputGroup>
      </div>

      <div class="panel-input_section">
        <span>
          <label for="Jogo">Jogo Favorito</label>
        </span>
        <p-inputGroup class="panel-inputgroup">
          <p-inputGroupAddon >
              <i class="pi pi-search"></i>
          </p-inputGroupAddon>
          <input pInputText
          [(ngModel)]="gostos.jogo"
          placeholder="Jogo" style="width: 100%;" />
        </p-inputGroup>
      </div>
    </div>

    <div class="panel-button_section">
      <button
      pButton
      pRipple
      (click)="limpar()"
      label="Limpar">
    </button>
    <p-button
    (onClick)="adicionar()"
    label="Submit"></p-button>
    </div>
  </div>

  <p-panel>
    <div class="panel-input_section" *ngFor="let gostos of listaGostos">
      <p class="serie">{{ gostos.serie }}</p>
      <p class="jogo">{{ gostos.jogo }}</p>
    </div>
  </p-panel>p-panel>
</p-panel>
